{% extends 'base.html' %}

{% block tittle %} August.blog {% endblock %}


<body  style="background-image:url('login.jpg')">
{% block content %}
<div class="container-fluid">
    <div class="row" id="full">
        <center>
            <form action="{% url 'login' %}" class="login" method="post" style="margin-top: 150px;
                    border: 1px solid chocolate;
                    width: 500;
                    padding: 50px;
                    box-shadow: 2px 2px 2px 2px;
                    /* border: none; */
                    /* background: transparent; */">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" id="" placeholder="username" class="form" style="width:400px;">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="" placeholder="password" class="form" style="width:400px;">
                </div>
                <p style="font-size: large">Don't have an account yet? <button class="btn btn-default"><a href="{% url 'register' %}" style="color: black">Register</a></button></p>
                <div class="form-group">
                    <input type="submit" value="login" class="btn btn-primary btn-lg">
                </div>
            </form>

            <div>

                    {% for message in messages %}
                <h3 style="color:red;">{{ message }}</h3>
                    {% endfor %}

            </div>
        </center>
    </div>
</div>
{% endblock %}
